body .container-fluid {
    padding: 0;
}
.navbar {
    padding: 15px;
}
nav.breadcrumb-nav {
    margin-top: 15px;
    margin-left: 15px;
}
.navbar-collapse {
    justify-content: space-between;
}
.main {
    min-height: calc(100vh - 216px);
}